.list {
  width: 100%;
  height: 100%;
  padding: { top: 5px; };
  :global{
    $menu-bg: transparent;
    $menu-bg-active: rgba($color: #fff, $alpha: 0.05);

    $menu-color: rgba($color: #fff, $alpha: 0.3);
    $menu-color-active: rgba($color: #fff, $alpha: 0.6);
  
    %default {
      color: $menu-color;
      background: $menu-bg;
    }

    %selected {
      color: $menu-color-active;
      background: $menu-bg-active;
    }

    // 菜单
    .ant-menu-dark {
      border: none;
      @extend %default;

      // 根菜单样式覆盖 - 正常状态
      .ant-menu-item {
        height: 30px;
        line-height: 30px;
        @extend %default;
      }
  
      // 根菜单样式覆盖 - 停放状态
      .ant-menu-item.ant-menu-item-active,
      .ant-menu-item.ant-menu-item-selected {
        @extend %selected;
      }
    }

    // 滚动条设置
    .qyrc-sroll-bar {
      opacity: 0.5;
      right: 0;
      .qyrc-sroll-bar-slider {
        width: 6px;
      }
    }

  }
}

