@import "@assets/style/mixin";

.logger {
  height: 100%;
  position: relative;
  background: #0b122e;

  &::after {
    content: "";
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    opacity: 0.09;
    background: url("./img/bg.jpg") no-repeat center center;
    background-size: cover;
  }
}

.main {
  $margin: 60px;

  @include scrollbar($width: 4px);

  z-index: 1;
  top: $margin;
  left: $margin;
  right: $margin;
  bottom: $margin;
  position: absolute;

  overflow: auto;

  border-radius: 14px;
  border: 4px solid transparent;
  color: rgba($color: #fff, $alpha: 80%);
  background-color: rgba($color: #fff, $alpha: 2%);

  pre {
    word-wrap: break-word;
    white-space: pre-wrap;
  }
}
