.list {
  padding: 0 20px;

  flex: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  overflow-y: auto;
}

.empty {
  opacity: 0.8;
  margin: 0 auto;
  padding-top: 100px;
}
