.header {
  padding: 20px;
  display: flex;
}

.search {
  flex: 1;

  :global {
    %clear-style {
      border: none;
      outline: none;
      box-shadow: none;
    }

    .ant-input-affix-wrapper {
      border: none;
      background: #f8f8f8;
    }

    .ant-input {
      width: 80%;
      @extend %clear-style;
      background: #f8f8f8;

      &:hover, &:focus {
        @extend %clear-style;
      }
    }
  }

  :global {
    .qyrc-icon {
      color: rgba(0,0,0,.25);
    }
  }
}

.notice {
  padding: { left: 20px };
  line-height: 40px;
  :global {
    .qyrc-icon {
      font-size: 20px;
    }
  }
}
