
.tags {
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: { top: 50px;}

  display: flex;
  flex-direction: column;

  &-middle {
    flex: 1;
  }

  :global {
    .qyrc-modal-tool.article-modal-tool {
      .qyrc-modal-tool-item {
        font-size: 14px;
      }
    }
  }

  :global{
    $menu-bg: transparent;
    $menu-color: rgba($color: #fff, $alpha: 1);
    $menu-color-active: rgba($color: #397dff, $alpha: 1);
    %default {
      background: $menu-bg;
    }

    %selected {
      background: $menu-bg;
    }

    // 菜单
    .ant-menu {
      border: none;
      @extend %default;

      // 根菜单样式覆盖 - 正常状态
      .ant-menu-item {
        @extend %default;

        &::after {
          right: initial;
          left: 0;
        }
      }

      // 根菜单样式覆盖 - 停放状态
      .ant-menu-item.ant-menu-item-active,
      .ant-menu-item.ant-menu-item-selected {
        @extend %selected;
      }
    }

    // 滚动条设置
    .qyrc-sroll-bar {
      opacity: 0.5;
      right: 0;
      .qyrc-sroll-bar-slider {
        width: 2px;
      }
    }
  }
}
