.color {
  border: 5px solid #fff;
  box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.08);

  width: 36px;
  height: 14px;
  border-radius: 2px;
  box-sizing: content-box;
};

.popover {
  position: absolute;
  z-index: 2;
};

.cover {
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
};
