@import "@assets/style/mixin";

$base-color: #ccc;
$bg-selected: #2c313a;
$content-color: rgba($color: $base-color, $alpha: 80%);

.search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  padding: 10px;
}

.body {
  flex: 1;
  overflow: auto;
  padding: 0 10px 10px;
}

.input {
  border: 0;
  background-color: #1d1f23;
  color: $content-color;

  &::placeholder {
    color: rgba($color: $base-color, $alpha: 10%);
  }
}

.item {
  cursor: pointer;
  padding: 4px 6px;
  margin-bottom: 10px;

  border-radius: 4px;
  color: $content-color;

  transition: background-color 0.4s;

  &:hover {
    background-color: $bg-selected;
  }
}

.title {
  @include line-clamp(1);
  color: $base-color;
}

.content {
  @include line-clamp(1);
}
