@import "@assets/style/mixin";

$base-color: #ccc;
$content-color: rgba($color: $base-color, $alpha: 80%);

.search {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.input-wrapper {
  padding: 20px;
}

.body {
  flex: 1;
  padding: 20px;
  overflow: auto;
}

.input {
  border: 0;
  background-color: #1d1f23;
  color: $content-color;

  &::placeholder {
    color: rgba($color: $base-color, $alpha: 10%);
  }
}

.item {
  padding: 10px;
  color: $content-color;

  &:not(:last-child) {
    border-bottom: 1px solid rgba($color: $base-color, $alpha: 10%);
  }
}

.title {
  @include line-clamp(1);
  color: $base-color;
}

.content {
  @include line-clamp(1);
}
