#base-page {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  background: #f2f2f3;
  .base-page-top{
    flex: none;
    background: rgba(255, 0, 0, 0.1);
  }
  .base-page-bottom{
    flex: 1;
    display: flex;

    .base-page-bottom-left-menu{
      flex: none;
      width: 250px;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
    }

    .base-page-bottom-right-content{
      flex: 1;
      height: 100%;
      overflow-y: auto;
      overflow-x: hidden;
      display: flex;
      flex-direction: column;
      .base-page-bottom-right-content-body{
        flex: 1;    
        height: 100%;
        overflow-y: auto;
        overflow-x: hidden; 
      }
      .base-page-bottom-right-content-footer{
        flex: none;
      }
    }
  }
}

#base-page-header {
  height: 4px;
  background: #3498db;
}

#base-page-footer {
  text-align: center;
  line-height: 50px;
}
