.header {
  height: 60px;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: flex-end;

  background: #f7f7f7;
  border-bottom: 1px solid #e6e6e6;
}

.create {
  cursor: pointer;
  font-size: 16px;

  display: flex;
  align-items: center;

  &-icon {
    font-size: 20px;
    margin-left: 10px;
  }
  &:hover {
    color: #1890ff;
  }
}
