@use 'sass:math';

.item {
  width: 24%;
  background: #fff;
  border-radius: 10px;
  margin-top: 20px;

  &:hover {
    box-shadow: 0 0 10px rgba($color: #999, $alpha: 0.2);
  }

  &:last-child:nth-child(4n - 2) {
    margin-right: calc(48% + 4% / 3 * 2);
  }

  &:last-child:nth-child(4n - 1) {
    margin-right: calc(24% + 4% / 3);
  }
}

.top {
  padding: 20px;

  .title {
    color: rgba(0, 0, 0, 0.85);
  }

  .desc {
    color: rgba(0, 0, 0, 0.45);
  }
}

.bottom {
  padding: 10px 20px;
  border-top: 1px dashed #f2f5fc;

  display: flex;
  align-items: center;

  .value {
    color: rgba(0, 0, 0, 0.85);
    flex: 1;
  }

  .tools {
    display: flex;
    align-items: center;

    cursor: pointer;
    font-size: 18px;
    color: rgba(0, 0, 0, 0.85);

    .icon-edit {
      color: #40a9ff;
    }

    .icon-delete {
      padding-left: 10;
      color: #ff4d4f;
    }
  }
}
