.row {
  flex: 1;
  display: flex;

  margin: 0 0 20px 0 !important;
  padding: 20px 20px 0 20px !important;

  background: #fafafa;
  border: 1px solid #d9d9d9;

  .form-item {
    display: flex;

    :global {
      .ant-form-item-label {
        flex: none;
        width: 6em;
      }

      .ant-form-item-control {
        flex: 1;
      }
    }
  }

  .col-delete {
    padding-top: 6px;
    text-align: center;

    .delete {
      cursor: pointer;
      font-size: 20px;
      color: #d4380d;
    }
  }
}

