.editor {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  :global {
    .CodeMirror {
      height: 100%;
    }
    .CodeMirror-linenumber {
      padding-right: 20px;
    }

    .CodeMirror-lines {
      // 需要配合 option.cursorScrollMargin 进行使用
      padding: {
        top: 20;
        bottom: 200px;
      };
    }
  }
}
