.menu-title {
  display: flex;

  &-content {
    flex: 1;
  }

  &-more {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;

    :global {
      .qyrc-icon {
        box-sizing: content-box;
        padding: 10px 0px;
      }
    }

  }
}

:global{

  // 子菜单 - 展开 - 旋转箭头
  .ant-menu-submenu-open > .ant-menu-submenu-title {
    :local(.menu-title-arrow) { 
      transform: rotate(90deg); 
    }
  }

  // 鼠标停放显示 ...
  .ant-menu-item-active,
  .ant-menu-submenu-active > .ant-menu-submenu-title {
    :local(.menu-title-more) {
      opacity: 1;
    }
  }
}

.operation-menu {
  background: #2c343a;
  :global {
    .ant-dropdown-menu-item {
      color: rgba($color: #fff, $alpha: 0.5);
      &:hover{
        background-color: rgba($color: #fff, $alpha: 0.1)
      }
    }
  }
}