.menu-title {
  display: flex;

  &-content {
    flex: 1;
  }

  &-more {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }
}

:global{

  // 子菜单 - 展开 - 旋转箭头
  .ant-menu-submenu-open > .ant-menu-submenu-title {
    :local(.menu-title-arrow) { 
      transform: rotate(90deg); 
    }
  }

  // 鼠标停放显示 ...
  .ant-menu-item-active,
  .ant-menu-submenu-active > .ant-menu-submenu-title {
    :local(.menu-title-more) {
      opacity: 1;
    }
  }
}


