@import '@assets/style/mixin.scss';

.side {
  position: relative;
  background: #21252b;

  overflow-y: auto;
  overflow-x: hidden;

  @include scrollbar(
    $width: 2px,
    $thumb-bg: lighten($color: #2c313a, $amount: 5%)
  );
}

.collapsed {
  opacity: 0;
}
