// 高度像素值
$hps: 20px; 
$hpu: 24px; 
$hpn: 64px; 
$hpm: 5px; 
$hpw: 5px; 
$hpv: 5px; 
$hpx: 5px; 

// 高度像素值
$hsn: 10vh; 
$hsm: 20vh; 
$hsw: 50vh; 
$hsv: 100vh; 

// 高度像素值
$hpern: 10%; 
$hperm: 20%; 
$hperw: 50%; 
$hperv: 100%;  

//  颜色
$color_w: #fff;
$color_b: #000;
