$color: rgba($color: #fff, $alpha: 80%,);

.setting {
  box-sizing: border-box;

  display: flex;
  flex-direction: column;

  width: 100%;
  height: 100%;

  border-radius: 10px;

  color: $color;
  background: #181a1c;
  border: 1px solid #090909;
}

.main {
  flex: 1;
  display: flex;
  border-radius: 0 0 10px 10px;
  border: 2px solid rgba($color: #fff, $alpha: 6%);
  border-top: unset;
}

.setting .body {
  flex: 1;
  padding: 10px;

  // antd 样式覆盖
  :global {
    // 多选框
    .ant-checkbox-wrapper {
      margin: 0;
      width: 100%;
      padding-bottom: 10px;
      color: $color;
    }

    .ant-checkbox-inner {
      border: unset;
      outline: none;
    }

    .ant-checkbox:not(.ant-checkbox-checked) {
      .ant-checkbox-inner {
        background: #36383a;
      }
    }

    // 输入框
    .ant-input {
      border-radius: 8px;
      background: #1f2223 !important;
      border-color: #292b2f;
      color: $color;
    }
  }
}
