.flow {
  flex: 1;
  height: 100%;
  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.work {
  flex: 1;
  position: relative;

  .content {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;

    > div {
      z-index: 0 !important;
    }

    :global {
      canvas {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        z-index: 1;
        position: absolute;
      }
    }
  }
}


.detail {
  width: 300px;
  display: flex;
  flex-direction: column;

  background: #fff;
  box-shadow: 0 0 10px darken($color: #f5f6fa, $amount: 5%);

  :global {
    .ant-card {
      display: flex;
      flex-direction: column;

      &:nth-child(1) {
        flex: 1;
      }

      &:nth-child(2) {
        border-top: 1px solid #f0f0f0;
      }
    }

    .ant-card-body {
      flex: 1;
      position: relative;
    }
  }
}
