.background {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  position: fixed !important;

  > :global(.brick-image-body) {
    $bg-start: rgba($color: #1b2735, $alpha: 5%);
    $bg-end: rgba($color: #090a0f, $alpha: 20%);

    background: radial-gradient(ellipse at bottom, $bg-start 0, $bg-end 100%);
  }
}
