.project {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: absolute;

  padding-left: 126px;
  background: rgba($color: #e6f7ff, $alpha: 0.5);
}


.content {
  width: 500px;

  height: 500px;

  overflow: hidden;
}
