.user {
  :global {
    .ant-card-body {
      display: flex;
      align-items: center;
      flex-direction: column;
      justify-content: center;
    }
  }

  height: 200px;
  border-radius: 20px;
  box-shadow: 0 0 10px red;
  background: linear-gradient(45deg, #12D8FA, #12D8FA, #A6FFCB);
}

.avatar {
  width: 80px;
  height: 80px;
  overflow: hidden;
  border-radius: 50%;
}

.name {
  padding: 10px 0;
  color: rgba($color: #fff, $alpha: 0.4);
}

.motto {
  color: rgba($color: #fff, $alpha: 0.4);
}
