$color: rgba($color: #fff, $alpha: 80%);
$color-light: rgba($color: #fff, $alpha: 60%);
$bg-light: rgba($color: #fff, $alpha: 10%);

.modal {
  width: 420px !important;

  :global {
    .ant-modal-content {
      padding: 30px 20px;
      background: #2c343a;
    }

    .ant-modal-header {
      border: unset;
      background: transparent;

      .ant-modal-title {
        color: $color-light;
      }
    }

    .ant-modal-footer {
      border: unset;
    }
  }
}

.item {
  color: $color-light;

  :global {
    .ant-form-item-label > label {
      color: $color-light;
    }

    input {
      border: unset;
      color: $color;
      outline: none;
      height: initial;
      border-radius: 0;
    }

    .ant-cascader-menu {
      color: $color;
      background: #2c343a;
      border-right: 1px solid $bg-light;

      &:last-child {
        border-right: unset;
      }
    }

    .ant-cascader-menu-item-expand-icon {
      color: $color-light !important;
    }

    .ant-cascader-menu-item:hover,
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
      background: $bg-light;
    }
  }
}
