$bg: transparent;
$bg-selected: #2c313a;
$color: rgba($color: #ccc, $alpha: 80%);

.menu-item-empty {
  height: 0 !important;
  overflow: hidden !important;
}

.menu {
  height: 100%;
  border: unset;
  color: $color;
  background: $bg;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;

  :global {
    .ant-menu-submenu {
      position: relative;

      &::after {
        content: "";
        display: block;
        top: 44px;
        width: 1px;
        bottom: 4px;
        position: absolute;
        left: var(--dividing-left);
        border-right: 1px dashed rgba($color: $color, $alpha: 10%);
      }
    }

    // 清除右边距
    .ant-menu-item,
    .ant-menu-submenu-title {
      padding-right: 0;
    }

    // 根菜单样式覆盖 - 正常状态
    .ant-menu-item {
      background: $bg;
    }

    // 子菜单 - 活动或者选中
    .ant-menu-item:not(.ant-menu-item-selected) {
      &:hover,
      &:active {
        color: $color !important;
        background: $bg-selected !important;
      }
    }

    .ant-menu-submenu-active,
    .ant-menu-submenu-selected {
      > .ant-menu-submenu-title {
        color: $color !important;
        background: $bg-selected !important;
      }
    }

    // 子菜单 - 选中但是被打开则不显示任何样式
    .ant-menu-submenu-selected.ant-menu-submenu-open {
      .ant-menu-submenu-title {
        color: $color !important;
        background: $bg !important;
      }
    }

    // 根菜单样式覆盖 - 停放状态
    .ant-menu-item.ant-menu-item-active,
    .ant-menu-item.ant-menu-item-selected {
      color: $color;
      background: $bg-selected;
    }

    // 隐藏后面的箭头
    .ant-menu-submenu-arrow {
      display: none;
    }
  }
}

.add {
  left: 0;
  right: 0;
  bottom: 0;
  height: 40px;
  position: absolute;

  font-size: 20px;
  color: rgba($color: #ccc, $alpha: 80%);

  display: flex;
  align-items: center;
  justify-content: center;

  opacity: 0;
  cursor: pointer;
  background: $bg-selected;
  transition: all 0.5s;

  &:hover {
    opacity: 0.8;
  }
}
