@import '@assets/style/mixin';

.menu-item-empty {
  height: 0 !important;
  overflow: hidden !important;
}

.menu {
  $bg: transparent;
  $bg-selected: #2c313a;
  $color: rgba($color: #ccc, $alpha: 80%,);

  @include scrollbar(
    $width: 2px,
    $thumb-bg: lighten($color: #2c313a, $amount: 5%)
  );

  height: 100%;
  border: unset;
  color: $color;
  background: $bg;
  padding-bottom: 40px;
  overflow-y: auto;
  overflow-x: hidden;

  :global {
    // 设置分割线(虚线)
    .ant-menu-sub {
      border: unset;
      color: $color;
      background: $bg;
      position: relative;

      :local(.menu-dividing) {
        top: 0;
        width: 1;
        bottom: 0;
        position: absolute;
        border-right: 1px dashed rgba($color: $color, $alpha: 10%);
      }
    }

    // 子菜单 - 正常
    .ant-menu-submenu-title {
      padding-right: 0 !important;
    }

    // 子菜单 - 活动或者选中
    .ant-menu-submenu-active,
    .ant-menu-submenu-selected {
      > .ant-menu-submenu-title {
        color: $color !important;
        background: $bg-selected !important;
      }
    }

    // 子菜单 - 选中但是被打开则不显示任何样式
    .ant-menu-submenu-selected.ant-menu-submenu-open {
      .ant-menu-submenu-title {
        color: $color !important;
        background: $bg !important;
      }
    }

    // 根菜单样式覆盖 - 正常状态
    .ant-menu-item {
      border: unset;
      background: $bg;
      margin: 0 !important;
      padding-right: 5px !important;

      &::after {
        display: none;
      }
    }

    // 根菜单样式覆盖 - 停放状态
    .ant-menu-item.ant-menu-item-active,
    .ant-menu-item.ant-menu-item-selected {
      color: $color;
      background: $bg-selected;
    }

    // 箭头
    .ant-menu-submenu-arrow {
      display: none;
    }
  }
}
