.search-bar {
  display: flex;
  padding: 20px;

  &-prefix {
    flex: none;
    :global {
      .qyrc-icon {
        color: #999;
        font-size: 30px;
        cursor: pointer;
        padding: { top: 5px; bottom: 5px; right: 30px; };
        box-sizing: content-box;
        &:hover { color: rgba($color: #397dff, $alpha: 0.8); }
      }
    }
  }

  &-input {
    flex: 1;

    :global {
      %clear-style {
        border: none;
        outline: none;
        box-shadow: none;
      }
      .ant-input {
        background: #f8f8f8;
        @extend %clear-style;

        &:hover, &:focus {
          @extend %clear-style; 
        }
      }
    }
  }

  &-suffix {
    flex: none;
    width: 100px;
  }
}