@import '../../../../../assets/style/mixin.scss';

.item {
  display: flex;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
  border-radius: 10px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 20px -6px rgba(0,0,0,.1);
}

.bg {
  width: 52%;
  height: 100%;
  overflow: hidden;
}

.detail {
  flex: 1;
  height: 100%;
  display: flex;
  padding: 20px;
  flex-direction: column;
}

.time {
  color: #999;
  line-height: 1;
  font-size: 12px;
  :global {
    .qyrc-icon {
      font-size: 16px;
      margin-right: 5px;
    }
  }
}

.title {
  padding: 10px 0;
  font-size: 16px;
  font-weight: 600;
}

.info {
  display: flex;
  font-size: 12px;

  .info-item {
    color: #999;
    @include line-clamp(1);    
    :global {
      .qyrc-icon {
        font-size: 16px;
        margin-right: 5px;
      }
    }
  }
}

.desc {
  flex: 1;
  padding: 10px 0;
  line-height: 1.8;
  p {
    @include line-clamp(3);
  } 
}

.entry {
  color: #999;
  font-size: 20px;
}


// 居左设计
.item.left {
  text-align: left;
  .info {
    justify-content: flex-start;
    .info-item {
      padding-right: 10px;
    }
  }
}

// 居右设计
.item.right {
  text-align: right;
  flex-direction: row-reverse;
  .info {
    justify-content: flex-end;
    .info-item {
      padding-left: 10px;
    }
  }
}
