.progress {
  padding: 20px;
}

.progress-wrapper {
  height: 8px;
  background: #fff;
  border-radius: 4px;
}

.progress-bar {
  height: 100%;
  border-radius: 4px;
}

.detail {
  color: #999;
  font-size: 12px;
  line-height: 2;
}
