.home-page{
  height: 100%;
  width: 100%;
  display: flex;

  .left-user-block{
    flex: 0 0 200px;
  }

  .right-article-list{
    flex: 1;
    padding: 5px;
    border-left: 1px solid pink;
    border-top: 1px solid pink;

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    align-items: flex-start;
    .article-item-container{
      width: 50%;
      padding-top: 10%;
      position: relative;
      .article-item-wrapper{
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        padding: 5px;
      }
    }
  }
}
