#article-list-card {
  width: 100%;
  height: 100%;
  border: 1px solid #e4ecf3;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}
#article-list-card .card-item {
  height: 100%;
  overflow: hidden;
}
#article-list-card .card-item:nth-child(1) {
  flex: 0 0 33.3333%;
}
#article-list-card .card-item:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
#article-list-card .card-item:nth-child(2) .header {
  flex: 0 0 35px;
  display: flex;
  align-items: center;
}
#article-list-card .card-item:nth-child(2) .header .tag {
  height: 70%;
  padding: 0 10px;
  border-radius: 3px;
  margin-right: 10px;
  background: #3498db;
  color: #fff;
  font-size: 12px;
  line-height: normal;
  display: flex;
  justify-content: center;
  align-items: center;
}
#article-list-card .card-item:nth-child(2) .header .title {
  flex: 1;
  height: 100%;
  font-size: 18px;
  display: flex;
  align-items: center;
}
#article-list-card .card-item:nth-child(2) .content {
  flex: 1;
  color: #666;
}
#article-list-card .card-item:nth-child(2) .footer {
  flex: 0 0 40px;
  background: pink;
  display: flex;
}
#article-list-card .card-item:nth-child(2) .footer .footer-left {
  flex: 1;
  display: flex;
  align-items: center;
}
#article-list-card .card-item:nth-child(2) .footer .footer-left .avatar {
  width: 25px;
  height: 25px;
}
#article-list-card .card-item:nth-child(2) .footer .footer-left .username {
  padding: 0 10px 0 5px;
}
#article-list-card .card-item:nth-child(2) .footer .time {
  flex: none;
  display: flex;
  align-items: center;
}
