#article-list-card {
  width: 100%;
  height: 100%;
  border: 1px solid #e4ecf3;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
}
#article-list-card .card-item {
  height: 100%;
  overflow: hidden;
}
#article-list-card .card-item:nth-child(1) {
  flex: 0 0 33.3333%;
}
#article-list-card .card-item:nth-child(2) {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 0 10px;
}
#article-list-card .card-item:nth-child(2) .header {
  flex: 0 0 40px;
  display: flex;
  align-items: center;
}
#article-list-card .card-item:nth-child(2) .header .tag {
  padding: 5px 10px;
  border-radius: 3px;
  font-size: 12px;
  line-height: 1;
  margin-right: 10px;
  color: #fff;
  background: #3498db;
}
#article-list-card .card-item:nth-child(2) .header .title {
  flex: 1;
  display: block;
  line-height: 30px;
  font-size: 18px;
  height: 30px;
}
#article-list-card .card-item:nth-child(2) .content {
  flex: 1;
}
#article-list-card .card-item:nth-child(2) .footer {
  flex: 0 0 40px;
  background: pink;
}
