#article-list-card:hover{
  top: -5px;
  box-shadow: 0 20px 30px -15px #ccc;
}

#article-list-card{
  width: 100%;
  height: 100%;
  border: 1px solid #e4ecf3;
  border-radius: 6px;
  overflow: hidden;
  display: flex;
  position: relative;
  top: 0;
  transition: top 0.5s;
  cursor: pointer;

  .card-item {
    height: 100%;
    overflow: hidden;
  }

  .card-item:nth-child(1){
    flex: 0 0 25%;
  }

  .card-item:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .header{
      flex: 0 0 35px;
      display: flex;
      align-items: center;
      overflow: hidden;

      .tag{
        height: 70%;
        padding: 0 10px;
        border-radius: 3px;
        margin-right: 10px;
        background: #3498db;

        color: #fff;
        font-size: 12px;
        line-height: normal;

        display: flex;
        justify-content: center;
        align-items: center;
      }

      .title{
        flex: 1;
        height: 100%;
        overflow: hidden;
        display: flex;
        align-items: center;
        h2{
          font-size: 18px;
        }
      }
    }

    .content{
      flex: 1;
      font-size: 14px;
      color: #7f8c8d;
    }

    .footer{
      flex: 0 0 40px;
      display: flex;
      color: #bdbdbd;
      font-size: 14px;
      .footer-left{
        flex: 1;
        display: flex;
        align-items: center;
        .avatar{
          width: 20px;
          height: 20px;
        }
        .username{
          padding: 0 10px 0 5px;
        }
        .browse{
          padding: 0 10px 0 5px;
          display: flex;
          align-items: center;
          svg{
            font-size: 20px;
            margin-right: 5px;
          }
        }
        .comment{
          padding: 0 10px 0 5px;
          display: flex;
          align-items: center;
          svg{
            font-size: 14px;
            color: #999;
            margin-right: 5px;
          }
        }
      }
      
      .time{
        flex: none;
        display: flex;
        align-items: center;
        display: flex;
        align-items: center;
        svg{
          font-size: 14px;
          color: #999;
          margin-right: 5px;
        }
      }
    }
  }
}
