#article-list-card{
  width: 100%;
  height: 100%;
  border: 1px solid #e4ecf3;
  border-radius: 6px;
  overflow: hidden;
  display: flex;

  .card-item {
    height: 100%;
    overflow: hidden;
  }

  .card-item:nth-child(1){
    flex: 0 0 33.3333%;
    // overflow: hidden;
    // border-radius: 6px;
  }

  .card-item:nth-child(2){
    flex: 1;
    display: flex;
    flex-direction: column;
    padding: 0 10px;

    .header{
      flex: 0 0 40px;
      display: flex;
      align-items: center;

      .tag{
        padding: 5px 10px;
        border-radius: 3px;
        font-size: 12px;
        line-height: 1;
        margin-right: 10px;
        color: #fff;
        background: #3498db;
      }

      .title{
        flex: 1;
        display: block;
        line-height: 30px;
        font-size: 18px;
        height: 30px;
      }

      .time{}
    }
    .content{
      flex: 1;
    }
    .footer{
      flex: 0 0 40px;
      background: pink;
    }
  }
}
