@import '../../../assets/style/mixin.scss';

.header {
  width: 100%;
  height: 50px;

  display: flex;
  align-items: center;
  justify-content: center;

  :global(.ant-input-affix-wrapper) {
    $color: rgba($color: #fff, $alpha: 0.5);
    width: 40%;
    @include input-placeholder($color);
    :global(.ant-input-search-icon){
      color: $color;
    }
    :global(.ant-input){  
      border: none;
      color: $color;
      background: #1e1f22;
    }
  }
}
