.layout {
  width: 100%;
  height: 100%;
  overflow: hidden;
  background: rgba($color: #f1f1f2, $alpha: 1.0);

  display: flex;

  &-menu {
    flex: none;
    display: flex;
  }

  &-body {
    flex: 1;
    display: flex;
    overflow: hidden;
    border-radius: 10px 0 0 10px;
    background: rgba($color: #fff, $alpha: 1);
  }

  &-side {
    flex: none;
    width: 220px;
    background: rgba($color: #fff, $alpha: 1);
  }
}

.layout-spin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.01);
}
