.card {
  height: 400px;
  display: flex;
  flex-direction: column;

  padding: 20px;
  border-radius: 5px;
  margin: 20px 20px 20px 0;
  border: 1px solid rgba($color: #999, $alpha: 0.1);
}

.header {
  display: flex;
  &-title {
    flex: 1;
    color: #666;
    font-size: 16px;
    font-weight: 500;
  }

  &-picker {
    display: flex;
    align-items: center;
  }
}
