.history {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 20px;
  overflow: auto;

  > div {
    padding: 10px;
    max-width: 80%;
    margin-bottom: 8px;
    border-radius: 8px;
    background-color: #f1f1f1;
  }

  > div:nth-child(odd) {
    align-self: flex-start;
  }

  > div:nth-child(even) {
    align-self: flex-end;
  }
}
