.list {
  padding: 16px 10px;
  box-sizing: border-box;

  :global {
    .ant-input-group-addon {
      cursor: pointer;
      font-size: 18px;

      &:hover {
        color: #69b1ff;
      }
    }
  }
}

.item {
  cursor: pointer;

  padding: 6px;
  margin: 10px 0;

  border-radius: 4px;
  transition: all 0.4s;
  background-color: #2c3137;

  color: rgba($color: #fff, $alpha: 60%);

  &:hover {
    background-color: #374047;
  }
}
