.thumb {
  width: 55%;
  overflow: hidden;

  > div {
    transition: all 0.6s;
    transform-origin: center center;
  }
}

.item {
  height: 260px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.2);

  display: flex;
  margin: {
    top: 16px;
    left: 16px;
    right: 10px;
  };

  &.thumb-left {
    text-align: right;
    flex-direction: row;
  }

  &.thumb-right {
    text-align: left;
    flex-direction: row-reverse;
  }

  &:hover {
    box-shadow: 0 0 10px rgba($color: #000, $alpha: 0.4);

    .thumb > div {
      transform: scale(1.5);
    }
  }
}

.body {
  flex: 1;
  min-width: 0;
  padding: 16px;

  .time {
    color: rgba($color: #000, $alpha: 0.4);
  }

  .title {
    font-size: 18px;
    padding: 10px 0;

    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    color: rgba($color: #000, $alpha: 0.9);

    &:hover {
      color: #fb8309;
    }
  }

  .stats {
    color: rgba($color: #000, $alpha: 0.4);
  }

  .desc {
    padding: 10px 0;
    color: rgba($color: #000, $alpha: 0.6);
  }

  .more {
    font-size: 40px;
    line-height: 0;
    color: rgba($color: #000, $alpha: 0.6);

    &:hover {
      color: #fb8309;
    }
  }
}
