
// 鼠标停放
.cp {cursor: pointer !important;}

// 字体
.f12 { font-size: 12px !important; }
.f14 { font-size: 14px !important; }
.f16 { font-size: 16px !important; }
.f18 { font-size: 18px !important; }
.f22 { font-size: 22px !important; }
.f26 { font-size: 26px !important; }

// 外边距
.mo {padding: 0px !important;}
.mn { margin: 5px !important; }
.mm { margin: 10px !important; }
.mw { margin: 20px !important; }
.mv { margin: 30px !important; }

.mtn { margin-top: 5px !important; }
.mtm { margin-top: 10px !important; }
.mtw { margin-top: 20px !important; }
.mtv { margin-top: 30px !important; }

.mbn { margin-bottom: 5px !important; }
.mbm { margin-bottom: 10px !important; }
.mbw { margin-bottom: 20px !important;}
.mbv { margin-bottom: 30px !important; }

.mrn { margin-right: 5px !important; }
.mrm { margin-right: 10px !important; }
.mrw { margin-right: 20px !important; }
.mrv { margin-right: 30px !important; }

.mln { margin-left: 5px !important; }
.mlm { margin-left: 10px !important; }
.mlw { margin-left: 20px !important; }
.mlv { margin-left: 30px !important; }

.mtbn { margin: 5px 0 !important; }
.mtbm { margin: 10px 0 !important; }
.mtbw { margin: 20px 0 !important; }
.mtbv { margin: 30px 0 !important; }

.mlrn { margin: 0 5px !important; }
.mlrm { margin: 0 10px !important; }
.mlrw { margin: 0 20px !important; }
.mlrv { margin: 0 30px !important; }

// 内边距
.po {padding: 0px !important;}
.pn { padding: 5px !important; }
.pm { padding: 10px !important; }
.pw { padding: 20px !important; }
.pv { padding: 30px !important; }

.ptn { padding-top: 5px !important; }
.ptm { padding-top: 10px !important; }
.ptw { padding-top: 20px !important; }
.ptv { padding-top: 30px !important; }

.prn { padding-right: 5px !important; }
.prm { padding-right: 10px !important; }
.prw { padding-right: 20px !important; }
.prv { padding-right: 30px !important; }

.pln { padding-left: 5px !important; }
.plm { padding-left: 10px !important; }
.plw { padding-left: 20px !important; }
.plv { padding-left: 30px !important; }

.pbn { padding-bottom: 5px !important; }
.pbm { padding-bottom: 10px !important; }
.pbw { padding-bottom: 20px !important; }
.pbv { padding-bottom: 30px !important; }

.ptbn { padding: 5px 0 !important; }
.ptbm { padding: 10px 0 !important; }
.ptbw { padding: 20px 0 !important;}
.ptbv { padding: 30px 0 !important; }

.plrn { padding: 0 5px !important; }
.plrm { padding: 0 10px !important; }
.plrw { padding: 0 20px !important; }
.plrv { padding: 0 30px !important; }

// 链接颜色（通用、删除）
.linkp { color: #47BAEE !important; }
.linkp:hover { color: #5BCCFF !important; }
.linkd { color: #ED533A !important;}
.linkd:hover { color: #FF7761 !important;}

// fontIcon  symbol引用样式
.iconfont {
  width: 1em; height: 1em;
  vertical-align: -0.15em;
  fill: currentColor;
  overflow: hidden;
}

// 内容块样式(第一、 第二、 第三)
.block_first{
  border-left: 3px solid #94DFFC;
}

.block_second{
  margin-top: 20px;
  border-left: 3px solid #FF4337;
}

.block_third{
  border-left: 3px solid #3C3F44;
}
