@charset 'utf-8';

@mixin firefox-message($selector) {
  body #{$selector}::before{
    content: '这里是错误信息'
  }
}
$padding: 20px;
$padding: 10px !default;

.block{
  margin: 20px;
  border: {
    width: 1px;
    style: solid;
    color: red;
  };
  /* 错误 */
  &-header {
    color: #666;
    padding: $padding;
  };
  @include firefox-message('#{&}-header');

  &-footer{
    color: opacify(rgba(255, 0, 0, 0.5), 0.3); 
    padding: $padding;
    width: (100 +  10 ) * 10px
  }
  
}
