@import '@assets/style/mixin.scss';

.menu {
  $radius-size: 10px;

  width: 200px;
  padding: 60px 0 0 20px;
  border-radius: 0 $radius-size $radius-size 0;
  background-image: radial-gradient(800px at right top, #7659ff 300px, #6f51ff 300px);

  display: flex;
  flex-direction: column;

  &-body {
    flex: 1;
    overflow-y: auto;

    @include scrollbar(
      $width: 0px,
      $thumb-bg: lighten($color: #2c313a, $amount: 5%)
    );
  }

  &-add {
    display: flex;
    align-items: center;
    justify-content: center;

    height: 46px;
    color: #fff;
    font-size: 22px;
    cursor: pointer;
    border-radius: 30px;
    background: #6f51ff;
    margin: 20px 20px 30px 0px;
    box-shadow: 0 0 10px rgba(255, 255, 255, 0.5);
  }

  &-item {
    color: #fff;
    line-height: 3;
    margin: 10px 0;
    cursor: pointer;
    padding-left: 10px;

    :global {
      .qyrc-icon {
        margin: 0 10px;
      }
    }

    &-action {
      color: #6f51ff;
      position: relative;
      background: #f8f7fb;
      font-weight: 300 !important;
      border-radius: $radius-size 0 0 $radius-size;

      &::after {
        content: '';
        width: $radius-size;
        height: $radius-size;

        right: 0;
        top: -$radius-size;
        position: absolute;
        background-image: radial-gradient(20px at left top, transparent 10px, #fff 10px);
      }

      &::before {
        content: '';
        width: $radius-size;
        height: $radius-size;

        right: 0;
        position: absolute;
        bottom: -$radius-size;
        background-image: radial-gradient(20px at left bottom, transparent 10px, #fff 10px);
      }
    }

    &:hover {
      font-weight: 500;
    }
  }
}
