.layout {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
}

.layout-side {
  width: 160px;
  background: rgba($color: #f1f1f1, $alpha: .99);
}

.layout-body {
  flex: 1;
  background: #fff;
}

