.layout {
  height: 100%;
  display: flex;
  position: relative;
}

.layout-side {
  width: 160px;
  background: rgba($color: #f1f1f1, $alpha: .99);
}

.layout-body {
  flex: 1;
  background: #fff;
}

.layout-spin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.01);
}
