$color: rgba($color: #fff, $alpha: 0.8);
$color-light: rgba($color: #fff, $alpha: 0.6);
$bg-light: rgba($color: #fff, $alpha: 0.1);

.modal {
  width: 420px !important;

  :global {
    .ant-modal-content {
      background: #2c343a;
    }

    .ant-modal-header {
      border: none;
      background: transparent;

      .ant-modal-title {
        color: $color-light;
      }
    }

    .ant-modal-body {
      padding: 10px;
      border-radius: 4px;
    }

    .ant-modal-footer {
      border: none;
    }
  }
}

.item {
  color: $color-light;
  padding: 30px 10px 0 10px;

  :global {
    .ant-cascader-picker {
      color: $color;
      background: $bg-light;
    }

    .ant-form-item-label > label {
      color: $color-light;
    }

    input {
      border: none;
      color: $color;
      outline: none;
      height: initial;
      border-radius: 0px;
    }

    .ant-cascader-menu {
      background: #2c343a;
      border-right: 1px solid $bg-light;

      &:last-child {
        border-right: none;
      }
    }

    .ant-cascader-menu-item-expand-icon {
      color: $color-light;
    }

    .ant-cascader-menu-item:hover,
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled),
    .ant-cascader-menu-item-active:not(.ant-cascader-menu-item-disabled):hover {
      background: $bg-light;
    }
  }
}
