.extra {
  height: 100%;
  display: flex;
  align-items: center;
  padding-right: 10px;
  color: rgba($color: #fff, $alpha: 40%);

  .icon-preview,
  .icon-lower-shelf {
    font-size: 18px;
  }

  .icon-thumbnail,
  .icon-release {
    font-size: 20px;
  }

  :global {
    .brick-icon {
      cursor: pointer;
      margin-left: 10px;
    }
  }
}
