.notification:global(.ant-drawer) {
  top: 22px;
  outline: none;

  :global {
    .ant-drawer-content-wrapper {
      box-shadow: initial !important;
    }

    .ant-drawer-content {
      background: transparent;
    }

    .ant-drawer-body {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      padding: {
        left: 0;
        top: 32px;
        right: 16px;
        bottom: 16px;
      };
    }

    .ant-drawer-mask {
      opacity: 0 !important;
      animation: initial !important;
    }
  }
}
