.spin {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  z-index: 9999;
  position: absolute;
  align-items: center;
  justify-content: center;
  background: rgba(0, 0, 0, 0.01);

  :global {
    .ant-spin-dot-item {
      background-color: rgba($color: #fff, $alpha: 0.6);
    }
  }
}

.notification {
  :global {
    .ant-notification-notice {
      background: #2c343a;
    }

    .ant-notification-notice-message {
      color: rgba($color: #fff, $alpha: 0.6);
    }

    .ant-notification-notice-description {
      color: rgba($color: #fff, $alpha: 0.4);
    }

    .ant-notification-notice-close .anticon {
      color: rgba($color: #fff, $alpha: 0.6);
    }
  }
}
