/* Desktop 样式 */
.dosktop {
  height: 100vh;
  width: 100vw;
  // position: relative;

  background: {
    position: center center;
  };
}


/* Dock 样式 */
$dock-size: 70px;
%dock{
  position: fixed;
  z-index: 9;
  right: 0;
  left: 0;

  font-size: 0;
  letter-spacing: -4px;
  text-align: center;
  transition: bottom 0.5s;
}

.dock-show{
  @extend %dock;
  bottom: 0;
}

.dock-hidden{
  @extend %dock;
  bottom: -$dock-size - 5;
}

.dock-wrapper{
  $radius: 10px;
  box-sizing: border-box;
  display: inline-block;
  padding: 0 10px;
  font-size: 0;
  letter-spacing: -4px;

  background: rgba($color: #221e1c, $alpha: 0.8);
  border: 1px solid rgba($color: #fff, $alpha: 0.2);
  border-bottom: none;
  border-radius: $radius $radius 0 0;
}

.dock-app{
  display: inline-block;
  font-size: 0;
  letter-spacing: -4px;

  &-content{
    cursor: pointer;
    width: $dock-size;
    height: $dock-size;
    text-align: center;
    line-height: $dock-size;
  }
}

/* AppBlock 样式 */
.app-block{
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
}
