.editor {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;

  position: relative;

  &-body {
    flex: 1;
    height: 100%;
    display: flex;
    background: #282c34;
  }
}
