.base-frame{
  height: 100vh;
  .base-sider{
    height: 100%;
  }

  .base-content{
    display: flex;
    flex-direction: column;
    .base-body{
      flex: 1;
    }

    .base-footer{
      flex: 0 0 64px;
    }
  }

  .header {
    background: #fff;
    padding: 0;

    .trigger {
      font-size: 18px;
      line-height: 64px;
      padding: 0 24px;
      cursor: pointer;
      transition: color .3s;
    }
  }
}
