{
  "plugins": [
    // 下面两个插件：修饰器
    ["@babel/plugin-proposal-decorators", { "legacy": true }],
    ["@babel/plugin-proposal-class-properties", { "loose" : true }],
    // 按需加载
    ["import", {
      "libraryName": "antd",
      "libraryDirectory": "es",
      "style": "css"
    }],  
  ],
  "presets": ["@babel/preset-react", "@babel/preset-env"]
}
