@import '../assets/style/variable.scss';

.base-frame{
  height: $hsv;
  .base-sider{
    height: $hperv;
  }

  .base-content{
    display: flex;
    flex-direction: column;
    .base-body{
      flex: 1;
    }
  }

  .base-header {
    background: $color_w;
    .trigger {
      line-height: $hpn;
      transition: color .3s;
    }
  }

  .base-footer{
    flex: 0 0 $hpn;
    color: $color_w;
    background: $color_b;
  }
}


#components-layout-demo-custom-trigger .trigger {
  font-size: 18px;
  line-height: 64px;
  padding: 0 24px;
  cursor: pointer;
  transition: color .3s;
}

#components-layout-demo-custom-trigger .trigger:hover {
  color: #1890ff;
}

#components-layout-demo-custom-trigger .logo {
  height: 32px;
  background: rgba(255,255,255,.2);
  margin: 16px;
}