.overlay {
  width: 250px;
  height: 300px;
  display: flex;
  overflow: hidden;
  flex-direction: column;
  backdrop-filter: blur(4px);
  border-radius: 0 0 10px 10px;
  background: rgba(255, 255, 255, .6);
  border: 1px solid rgba($color: #8f8f8f, $alpha: 0.2);
}

.userInfo {
  flex: 1;
}

.bottom {
  height: 60px;
  color: #333;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
}
