.logger {
  height: 100%;
  position: relative;

  font-size: 12px;
  color: rgba($color: #fff, $alpha: 95%);
}

.side {
  width: 218px;
  padding: 8px;

  top: 36px;
  left: -30px;
  bottom: 28px;
  position: absolute;

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba($color: #000, $alpha: 20%);
  transition: all 0.4s;

  .menu-item {
    cursor: pointer;
    padding: 0 10px;
    line-height: 28px;
    border-radius: 8px;
  }

  .active-mene {
    background-color: rgba($color: #000, $alpha: 15%);
  }

  &:hover {
    transform: scale(1.02);
  }
}

.body {
  height: 100%;
  padding-left: 230px;

  border-radius: 10px;
  border: 1px solid rgba($color: #fff, $alpha: 20%);
  box-shadow: 0 0 30px 0 rgba($color: #000, $alpha: 20%);
}

.button {
  width: 80px;
  height: 80px;

  display: flex;
  align-items: center;
  justify-content: center;

  border-radius: 50%;
  position: absolute;

  left: 50%;
  bottom: -14px;
  transform: translateX(-50%);
}
