.card {
  margin-bottom: 14px;
}

.form-item {
  display: flex;

  :global {
    .ant-form-item-label {
      flex: none;
      width: 6em;
    }

    .ant-form-item-control-wrapper {
      flex: 1;
    }
  }
}

