.layout {
  height: 100%;
  display: flex;
  position: relative;
  overflow: hidden;
  background-color: #fff;
}

.layout-side {
  width: 70px;
  background-color: #23263c;
}

.layout-main {
  flex: 1;
}
