.menu {
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
  position: absolute;
  background: #3d4b56;

  display: flex;
  flex-direction: column;

  &-middle {
    flex: 1;
  }

  .menu-item-empty {
    height: 0 !important;
    overflow: hidden !important;
  }

  :global{
    .ant-menu-root {
      padding-bottom: 50px;
    }

    // antd - 菜单
    .ant-menu {
      $bg: transparent;
      $color: #bec7ce;
      $bg-selected: #2e3a46;

      border: none;
      color: $color;
      background: $bg;

      // 设置分割线(虚线)
      .ant-menu-sub {
        position: relative;

        :local(.menu-dividing){
          top: 0;
          width: 1;
          bottom: 0;
          position: absolute;
          border-right: 1px dashed #5d6b76;;
        }
      }

      // 子菜单 - 活动或者选中
      .ant-menu-submenu-active,
      .ant-menu-submenu-selected {
        > .ant-menu-submenu-title {
          color: $color !important;
          background: $bg-selected !important;
        }
      }

      // 子菜单 - 正常
      .ant-menu-submenu-title {
        padding-right: 0px !important;
      }

      // 子菜单 - 选中但是被打开则不显示任何样式
      .ant-menu-submenu-selected.ant-menu-submenu-open {
        .ant-menu-submenu-title {
          color: $color !important;
          background: $bg !important;
        }
      }

      // 根菜单样式覆盖 - 正常状态
      .ant-menu-item {
        border: none;
        background: $bg;
        margin: 0px !important;
        padding-right: 5px !important;
        &::after { display: none; }
      }

      // 根菜单样式覆盖 - 停放状态
      .ant-menu-item.ant-menu-item-active,
      .ant-menu-item.ant-menu-item-selected {
        color: $color;
        background: $bg-selected;
      }

      // 箭头
      .ant-menu-submenu-arrow {
        display: none;
      }
    }

    // 滚动条设置
    .qyrc-sroll-bar {
      opacity: 0.5;
      right: 0;
      .qyrc-sroll-bar-slider {
        width: 2px;
      }
    }
  }

  // 底部添加 tag
  .munu-new-tag {
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0;
    cursor: pointer;
    color: #bec7ce;
    line-height: 30px;
    position: absolute;
    text-align: center;
    transition: all 0.5s;
    background: rgba($color: #2e3a46, $alpha: 0.5);

    &:hover {
      opacity: 1;
    }
  }
}
