
.menu {
  width: 200px;
  height: 100%;
  background: #3d4b56;
  
  overflow: hidden;

  display: flex;
  flex-direction: column;

  &-middle {
    flex: 1;
  }

  :global {
    .qyrc-modal-tool.article-modal-tool {
      .qyrc-modal-tool-item {
        font-size: 14px;
      }
    }
  }
  
  :global{
    // $menu-bg: transparent;
    // $menu-color: rgba($color: #fff, $alpha: 1);
    // $menu-color-active: rgba($color: #397dff, $alpha: 1);
    // %default {
    //   background: $menu-bg;
    //   color: #397dff;
    // }
  
    // %selected {
    //   background: $menu-bg;
    // }

    // antd - 菜单
    .ant-menu {
      $bg: transparent;

      border: none;
      background: $bg;
  
      // 根菜单样式覆盖 - 正常状态
      .ant-menu-item {
        background: $bg;
  
        &::after {
          right: initial;
          left: 0;
        }
      }
  
      // 根菜单样式覆盖 - 停放状态
      .ant-menu-item.ant-menu-item-active,
      .ant-menu-item.ant-menu-item-selected {
        // @extend %selected;
      }

      // 子标题
      .ant-menu-submenu-title {
        padding: 0 24px 0 34px !important;
      }
      
      // 可选项
      .ant-menu-item {
        padding: 0 24px 0 34px !important;
      }

      // 箭头
      .ant-menu-submenu-arrow {
        left: 16px;
      }
    }
  
    // 滚动条设置
    .qyrc-sroll-bar {
      opacity: 0.5;
      right: 0;
      .qyrc-sroll-bar-slider {
        width: 2px;
      }
    }
  }
}