*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Microsoft Yahei", "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:global{
  // 字体图标
  .iconfont {
    width: 1em; height: 1em;
    vertical-align: -0.15em;
    fill: currentColor;
    overflow: hidden;
  }

  // 单行文字显示省略号
  .single-row{
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
