.card {
  border-radius: 20px;
  box-shadow: 0 0 10px red;
  background: linear-gradient(45deg, #12D8FA, #12D8FA, #A6FFCB);

  margin: 0 8px 16px 8px;

  &:global(.small) {
    background: red;
    width: calc(50% - 8px);
    height: 200px;
  }

  &:global(.middle) {
    width: 100%;
    background: blue;
    height: 200px;
  }

  &:global(.large) {
    width: 100%;
    background: green;
    height: 200px;
  }
}
