.modal {
  width: 320px !important;

  .article-name {
    padding: 0 6px;
    color: rgba($color: #fff, $alpha: 0.8);
  }

  :global {
    .ant-modal-content {
      padding: 10px;
      color: rgba($color: #fff, $alpha: 0.6);
    }

    // 确定按钮
    .ant-btn-primary {
      border-color: rgb(220, 53, 69);
      background-color: rgb(220, 53, 69);
    }
  }
}
