.cell {
  flex: 1;
  cursor: pointer;
  padding: 5px 12px;
  border-right: 1px solid rgba($color: #dbdbdb, $alpha: 20%);
  border-bottom: 1px solid rgba($color: #dbdbdb, $alpha: 20%);

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  &:hover {
    background: #e6f7ff !important;
  }
}

// 统计
.stats {
  opacity: 0.7;
  font-size: 12px;
  text-align: right;

  :global {
    .brick-icon {
      margin-right: 0;
    }
  }

  &-item {
    display: flex;
    align-items: center;
    justify-content: flex-end;
  }
}

// 非本月
:global(.ant-picker-cell:not(.ant-picker-cell-in-view)) {
  .cell {
    background: rgba($color: #dbdbdb, $alpha: 10%);
    div { opacity: 0.8; }
  }
}

// 今天
:global(.ant-picker-cell.ant-picker-cell-today) {
  .cell {
    background: #e6f7ff;
  }
}

// 选中
:global(.ant-picker-cell.ant-picker-cell-selected) {
  .cell {
    background: #bae7ff;
  }
}
