.calendar {
  height: 100%;
  display: flex;
  overflow: hidden;
  flex-direction: column;

  :global {
    // 头部(日期布局)样式
    .ant-picker-calendar-header {
      flex: none;
    }

    // 移除 body 左边距
    .ant-picker-body {
      padding: 10px 10px 10px 0 !important;
    }

    // 主体部分布局样式
    .ant-picker-panel,
    .ant-picker-date-panel,
    .ant-picker-body,
    .ant-picker-conten,
    table,
    tbody {
      flex: 1;
      outline: none;
      display: flex;
      overflow: hidden;
      flex-direction: column;
      tr {
        flex: 1;
        display: flex;
        td {
          flex: 1;
          display: flex;
          &:nth-last-child(1),
          &:nth-last-child(2) {
            color: #ff7875;
          }
        }
      }
    }

    // 日历主体头部(星期)
    .ant-picker-content thead {
      display: flex;
      tr {
        display: flex;
        th {
          flex: 1;
          text-align: right;
          padding: 0 12px 10px 0 !important;
          &:nth-last-child(1),
          &:nth-last-child(2) {
            color: #ff7875;
          }
        }
      }
    }

    // 设置边框
    tbody {
      border-top: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
      border-left: 1px solid rgba($color: #dbdbdb, $alpha: 0.2);
    }
  }
}
