.logger {
  height: 100%;
  position: relative;
}

.side {
  width: 234px;

  top: 36px;
  left: -30px;
  bottom: 28px;
  position: absolute;

  overflow: hidden;
  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba($color: #000, $alpha: 20%);
  background: linear-gradient(160deg, #6396ba, #3b4071);

  transition: all 0.4s;

  &:hover {
    transform: scale(1.02);
  }
}

.body {
  height: 100%;
  overflow: hidden;
  padding-left: 240px;

  border-radius: 10px;
  box-shadow: 0 0 30px 0 rgba($color: #000, $alpha: 20%);
  background: linear-gradient(160deg, #73a4c6, #525c89);
}
