.wrapper {
  display: flex;
  padding-top: 52px;
  padding-bottom: 20px;
}

.user-list {
  width: 40%;
}

.user {
  height: 56px;
  padding: 0 14px;

  display: flex;
  align-items: center;

  cursor: pointer;
  border-radius: 10px;
  transition: all 0.4s;

  &.active {
    background-color: rgba($color: #000, $alpha: 20%);
  }
}

.avatar {
  width: 32px;
  border-radius: 6px;
  box-shadow: 0 0 10px rgba($color: #000, $alpha: 30%);
}

.user-name {
  display: flex;
  flex-direction: column;

  padding-left: 14px;

  span:nth-child(2) {
    color: rgba($color: #fff, $alpha: 60%);
  }
}

.detail {
  flex: 1;
}
