.footer {
  height: 60px;
  color: #666;
  display: flex;
  font-size: 25px;
  align-items: center;
  justify-content: space-evenly;
  border-top: 1px solid rgba($color: #707c8d, $alpha: 0.3);

  :global {
    .qyrc-icon {
      cursor: pointer;
      &:hover { color: #1890ff; }
    }
  }
}
