.notification {
  top: 22px;

  :global {
    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-content-wrapper {
      box-shadow: initial !important;
    }

    .ant-drawer-content {
      background: transparent;
    }

    .ant-drawer-body {
      padding: 0px;
    }

    .ant-drawer-mask {
      opacity: 0 !important;
      animation: initial !important;
    }
  }
}
