.notification {
  top: 22px;

  :global {
    .ant-drawer-header {
      display: none;
    }

    .ant-drawer-content-wrapper {
      box-shadow: initial !important;
    }

    .ant-drawer-content {
      background: transparent;
    }

    .ant-drawer-body {
      display: flex;
      flex-wrap: wrap;
      align-content: flex-start;

      padding: 32px 8px 16px 8px;
    }

    .ant-drawer-mask {
      opacity: 0 !important;
      animation: initial !important;
    }
  }
}
