.item {
  display: flex;
  height: 250px;
  cursor: pointer;
  overflow: hidden;
  border-radius: 8px;
  flex-direction: column;
  width: calc(50% - 10px);
  margin: { bottom: 20px; };
  border: 1px solid #f9f9f9;
  box-shadow: 2px 0 8px rgba($color: #ddd, $alpha: .2);
}

.preview {
  flex: 1;
  overflow: hidden;
  position: relative;

  &-body {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    position: absolute;
  }

  &-mask {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 0;
    display: flex;
    font-size: 40px;
    position: absolute;
    align-items: center;
    transition: all 0.5s;
    justify-content: center;
    color: rgba($color: #fff, $alpha: 0.6);
    background: rgba($color: #000, $alpha: 0.5);
  }

  &:hover {
    .preview-mask {
      opacity: 1;
    }
  }
}

.info {
  height: 70px;
  padding: 10px;
  display: flex;
  &-icon {
    color: #1890ff;
    font-size: 18px;
    padding: {right: 10px;};
  }

  &-body {
    flex: 1;

    &-desc {
      font-size: 16px;
      line-height: 1.8;
      font-weight: 500;
    }

    &-time {
      color: #999;
    }
  }
}
