
/* Dock 样式 */
$radius: 10px;                 // 容器圆角大小
$dock-height: 54px;            // 高度
$margin-bottom: 6px;           // dock 距离底部间距
$dock-trigger-height: 12px;    // 鼠标距离底部多少显示 dock

// dock 样式
.dock {
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  position: fixed;
  height: $dock-height;
  bottom: $margin-bottom;
  transition: all 0.5s;
  box-sizing: content-box;
  justify-content: center;
}

// dock 内容块
.dock-body {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-width: 50%;
  height: $dock-height;

  border-radius: $radius;
  box-sizing: border-box;
  backdrop-filter: blur(40px);
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba($color: #fff, $alpha: 0.06);
  box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.3);
}

// 应用设置
.dock-app {
  --size: calc(#{$dock-height} * var(--scale));

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);
  transition: all 0.3s;
  box-sizing: content-box;
  padding-bottom: calc((var(--scale) - 1) * 50px);

  // 图标大小设置
  .dock-icon {
    transition: all 0.3s;
    font-size: calc(var(--size) - 15px);

    // 设置倒影
    -webkit-box-reflect: below 2px -webkit-gradient(
      linear,
      left top,
      left bottom,
      from(transparent),
      color-stop(0.8, transparent),
      to(rgba(255, 255, 255, .2))
    );
  }

  // 文字提示
  .dock-tooltip {
    display: none;

    left: 0;
    position: absolute;
    bottom: calc(var(--size) + 16px);

    width: 100%;
    padding: 4px 0;
    text-align: center;
    border-radius: 7px;
    background-color: #222;
  }

  &:hover {
    .dock-tooltip {
      color: #fff;
      display: block;
    }
  }
}

// 开启自动隐藏 dock 当鼠标距离底部一定距离才显示
.dock.dock-auto-hiding {
  opacity: 0;
  cursor: auto;
  bottom: -$dock-height;
  padding: $dock-trigger-height 0;

  &:hover {
    opacity: 1;
    bottom: $margin-bottom - $dock-trigger-height;
  }
}
