
/* Dock 样式 */
$dock-body-height: 54px; // dock 内容高度

// dock 样式
.dock {
  left: 0;
  right: 0;
  z-index: 9;
  display: flex;
  position: fixed;
  box-sizing: content-box;
  justify-content: center;
}

// dock 内容块
.dock-body {
  display: flex;
  align-items: flex-end;
  justify-content: center;

  min-width: 50%;
  height: $dock-body-height;

  border-radius: 10px;
  backdrop-filter: blur(40px);   // 背景虚化
  background: rgba(0, 0, 0, 0.2);
  border: 2px solid rgba($color: #fff, $alpha: 0.06);
  box-shadow: 0 0 0 1px rgba($color: #000, $alpha: 0.3);
}

// 应用设置
.dock-app {
  --size: calc(#{$dock-body-height} * var(--scale));

  cursor: pointer;
  position: relative;

  display: flex;
  align-items: center;
  justify-content: center;

  width: var(--size);
  height: var(--size);
  transition: all 0.3s;
  box-sizing: content-box;
  padding-bottom: calc((var(--scale) - 1) * 50px);

  // 图标大小设置
  .dock-icon {
    transition: all 0.3s;
    font-size: calc(var(--size) - 15px);

    // 设置倒影
    -webkit-box-reflect: below 2px -webkit-gradient(linear, left top, left bottom, from(transparent), color-stop(0.8, transparent), to(rgba(255, 255, 255, 0.2)));
  }

  // 文字提示
  .dock-tooltip {
    display: none;

    white-space: nowrap;

    position: absolute;
    bottom: calc(var(--size) + 16px);

    padding: 4px 10px;
    text-align: center;
    border-radius: 7px;
    background-color: #222;
  }

  &:hover {
    .dock-tooltip {
      color: #fff;
      display: block;
    }
  }
}

// 开启自动隐藏 dock 当鼠标距离底部一定距离才显示
.dock.dock-auto-hiding {
  cursor: auto;
  padding-top: 12px;
  transition: bottom 0.5s;
  bottom: -$dock-body-height;

  &:hover {
    bottom: 0;
    padding-bottom: 6px;
  }
}
