
/* Dock 样式 */
$dock-size: 70px;
$dock-padding: 10px;
$radius: 10px;

%dock{
  left: 0;
  right: 0;
  z-index: 1;
  position: fixed;

  font-size: 0;
  text-align: center;
  transition: bottom 0.5s;
}

.dock-show{
  @extend %dock;
  bottom: 0;
}

.dock-hidden{
  @extend %dock;
  // bottom: -$dock-size - 5;
  bottom: 0;
}

.dock-wrapper{
  box-sizing: border-box;
  display: inline-block;
  padding: 0 $dock-padding;
  font-size: 0;
  background: rgba($color: #221e1c, $alpha: 0.8);
  border: 1px solid rgba($color: #fff, $alpha: 0.2);
  border-bottom: none;
  border-radius: $radius $radius 0 0;
}

.dock-app{
  display: inline-block;
  font-size: 0;
  &-content{
    text-align: center;
    padding: $dock-padding;
  }
}
