.modal {
  height: 80% !important;
  :global{
    .ant-modal-content {
      height: 100%;
      display: flex;
      overflow: hidden;
      border-radius: 10px;
      flex-direction: column;
    }

    // antd 弹窗
    .ant-modal-body {
      flex: 1;
      padding: 0px;
      overflow: hidden;
    }

    // antd 表单
    .ant-form {
      height: 100%;
    }

    // antd tabs 设置
    .ant-tabs-left {
      height: 100%;
      display: flex;

      .ant-tabs-left-content {
        flex: 1;
        padding: 0px;
        height: 100%;
        overflow-y: auto;
      }

      .ant-tabs-tabpane.ant-tabs-tabpane-active {
        height: 100%;
        position: relative;
      }

      // qyrc 滚动条设置
      .qyrc-sroll {
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        position: absolute;

        .qyrc-sroll-body {
          padding: 20px;
        }
      }

      // antd 空状态
      .ant-empty {
        margin-top: 40px;
      }
    }
  }

  // 标题
  .title {
    display: flex;
    justify-content: space-between;

    .title-tool {
      font-weight: 300;

      :global {
        .qyrc-icon {
          &:hover {
            color: #69c0ff;
          }
        }
      }
    }
  }
}
