.login {
  width: 360px;
  height: 400px;
  padding: 20px;
  border-radius: 6px;
  background: #fff;

  position: absolute;
  right: 100px;
  top: 20%;

  &-head {
    overflow: hidden;
    margin: 30px auto;
    border-radius: 50%;
    width: 80px !important;
    height: 80px !important;
  }

  &-form {
    width: 100%;
  }
}