@charset "utf-8";

.note {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.note-header {
  flex: none;
  background: #373738;
  border-bottom: 1px solid #1a1a1a;
}

.note-footer {
  flex: none;
  background: #373738;
  border-bottom: 1px solid #1a1a1a;
}

.note-body {
  flex: 1;
  display: flex;
  &-side {
    flex: none; 
    width: 80px; 
    position: relative;
    background: #292929;
  }
  &-list {
    flex: none; 
    position: relative;  
    background: rgba($color: #1a191a, $alpha: 0.99);
  }
  &-content {
    flex: 1;
    display: flex;
    flex-direction: column;
    background: #292929;
    border-left: 1px solid #1a1a1a;
    &-work {
      flex: 1; 
      position: relative;
    }
    &-console {
      flex: none; 
      position: relative; 
      border-top: 1px solid #404040;
    }
  }
}

.container {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  overflow: hidden;
}
