.activity {
  $color: #a9abae;
  width: 80px;
  background: #282c34;

  &-item {
    padding: 15px;
    font-size: 26px;
    text-align: center;

    cursor: pointer;
    color: rgba($color: $color, $alpha: 40%);

    &:hover {
      color: rgba($color: $color, $alpha: 100%);
    }
  }

  &-item-active {
    color: rgba($color: $color, $alpha: 100%);
  }
}
