.calendar:global(.ant-picker-calendar) {
  height: 100%;
  overflow: hidden;
  padding-left: 120px;

  display: flex;
  flex-direction: column;

  :global {
    // 头部(日期布局)样式
    .ant-picker-calendar-header {
      flex: none;
    }

    // 移除 body 左边距
    .ant-picker-body {
      padding: 10px 10px 10px 0 !important;
    }

    // 主体部分布局样式
    table,
    tbody,
    .ant-picker-panel,
    .ant-picker-date-panel,
    .ant-picker-body,
    .ant-picker-content {
      flex: 1;
      height: 100%;
      outline: none;
      display: flex;
      overflow: hidden;
      flex-direction: column;

      thead {
        display: flex;
      }

      tr {
        flex: 1;
        display: flex;
      }

      th {
        flex: 1;
        text-align: right;
        padding: 0 12px 10px 0 !important;
      }

      td {
        flex: 1;
        display: flex;
      }

      td:nth-child(n+6),
      th:nth-child(n+6) {
        color: #ff4d4f;
      }
    }

    // 设置边框
    tbody {
      border-top: 1px solid rgba($color: #dbdbdb, $alpha: 20%);
      border-left: 1px solid rgba($color: #dbdbdb, $alpha: 20%);
    }
  }
}
