.menu {
  width: 200px;
  padding: 10px;
  border-right: 2px solid rgba($color: #fff, $alpha: 0.04);
}

.item {
  padding: 10px;
  cursor: pointer;
  line-height: 22px;
  margin-bottom: 2px;
  border-radius: 6px;
}

.selected {
  background: #363536;
}
