.card {
  margin: 20px 20px 20px 8px;
}

.header-btns {
  display: flex;
  align-items: center;

  .header-btn {
    margin-left: 10px;
    cursor: pointer;
    color: #612fc9;
    padding: 4px 14px;
    border-radius: 5px;
    background: #f0eefe;
  }

  .header-btn-action {
    color: #f0eefe;
    background: #612fc9;
  }
}
