.chat {
  width: 100%;
  height: 100%;

  display: flex;
}

.main {
  flex: 1;
  display: flex;
  flex-direction: column;
}

.header {
  height: 50px;
}

.session {
  flex: 1;
  display: flex;
  flex-direction: column;

  padding: 16px 10px;
  border-radius: 16px 16px 0 0;
  background-color: #f8f8f8;
}

.view {
  flex: 1;
}

.footer {
  position: relative;
}

.send-btn {
  right: 0;
  bottom: 0;
  position: absolute;
}
