.popular {
  flex: 1;
  width: 100%;
  display: flex;
  min-height: 50%;
  flex-direction: column;
}

.title {
  color: #999;
  display: flex;
  line-height: 1;
  padding: 16px 0;
  font-size: 18px;
  align-items: center;
  :global {
    .qyrc-icon {
      color: #999;
      font-size: 30px;
      margin-left: 0px;
    }
  }
}

.scroll {
  flex: 1;
  padding: {
    right: 10px;
  };
}
